<ion-view title="LoginUi" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="loginUi-form1" class="list">
      <ion-list id="loginUi-list1">
        <label class="item item-input" id="loginUi-input1">
          <span class="input-label">**Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="loginUi-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="main()" id="loginUi-button1" class="button button-stable button-block">Log in</a>

      <a ui-sref="signup()" id="loginUi-button2" class="button button-positive button-block button-clear">Or create an account</a>

      <button (click)="test()">Test</button>

    </form>
  </ion-content>
</ion-view>
