<ion-view title="Partners_CategoryUI" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="partners_CategoryUI-list9">
      <ion-item class="item-avatar" id="partners_CategoryUI-list-item19">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <h1 id="partners_CategoryUI-heading2" style="color:#000000;">Restaurantes</h1>
    <ion-list id="partners_CategoryUI-list11">
      <ion-item id="partners_CategoryUI-list-item20" ui-sref="produtc_List()">KFC</ion-item>
    </ion-list>
    <ion-list id="partners_CategoryUI-list10">
      <ion-item id="partners_CategoryUI-list-item32">Arturo</ion-item>
      <ion-item id="partners_CategoryUI-list-item33">McDonalds</ion-item>
    </ion-list>
  </ion-content>
</ion-view>