<ion-view title="Calendar" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="calendar-list3">
      <ion-item class="item-avatar" id="calendar-list-item2">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <div id="calendar-container1" class="creator-container"></div>
  </ion-content>
</ion-view>