<ion-view title="OrderDetails" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="orderDetails-list5">
      <ion-item class="item-icon-left" id="orderDetails-list-item9">
        <i class="icon ion-briefcase"></i>Pedido en progreso</ion-item>
    </ion-list>
    <form id="orderDetails-form2" class="list">
      <h4 id="orderDetails-heading2" style="color:#000000;">Ruta</h4>
      <div id="orderDetails-markdown2" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Recorrido del Pedido</p>

        <p style="color:#000000;">
          <strong>Desde</strong>: el restaurant</p>

        <p style="color:#000000;">
          <strong>Hasta</strong>: mi casa.</p>
      </div>
    </form>
    <h4 id="orderDetails-heading3" style="color:#000000;">Descripcion</h4>
    <div id="orderDetails-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Comida</p>

      <p style="color:#000000;">Comida</p>

      <p style="color:#000000;">Comida</p>
    </div>
    <a ui-sref="tabsController.statusOrder()" id="orderDetails-button3" class="button button-positive button-block">Aceptar Pedido</a>
  </ion-content>
</ion-view>