<ion-view title="Orders List" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="ordersList-list2">
      <ion-item class="item-avatar" id="ordersList-list-item1">
        <h2>Pepito Pregunton</h2>
      </ion-item>
    </ion-list>
    <h3 id="ordersList-heading1" style="color:#000000;">Pedidos Solicitados</h3>
    <ion-list id="ordersList-list4">
      <ion-item id="ordersList-list-item8" ui-sref="tabsController.orderDetails()">Tumero, #5.</ion-item>
    </ion-list>
  </ion-content>
</ion-view>