<ion-view title="Status Order" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="statusOrder-list6">
      <ion-item class="item-icon-left" id="statusOrder-list-item14">
        <i class="icon ion-speedometer"></i>Estado del Pedido</ion-item>
    </ion-list>
    <form id="statusOrder-form3" class="list">
      <h4 id="statusOrder-heading4" style="color:#000000;">Estado: </h4>
      <h4 id="statusOrder-heading6" style="color:#000000;">Ruta</h4>
      <div id="statusOrder-markdown7" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Recorrido del Pedido</strong>
        </p>

        <p style="color:#000000;">
          <strong>Desde</strong>: el restaurant</p>

        <p style="color:#000000;">
          <strong>Hasta</strong>: mi casa.</p>
      </div>
    </form>
    <h4 id="statusOrder-heading5" style="color:#000000;">Descripcion</h4>
    <div id="statusOrder-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Comida</p>

      <p style="color:#000000;">Comida</p>

      <p style="color:#000000;">Comida</p>

      <p style="color:#000000;">Comida</p>

      <p style="color:#000000;">Comida</p>
    </div>
    <button id="statusOrder-button4" class="button button-positive button-block">Cambiar Estado</button>
  </ion-content>
</ion-view>