<ion-view title="Customer_DirectionUI" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="customer_DirectionUI-form2" class="list">
      <p>
        Ingrese direccion
      </p>
      <label class="item item-input" id="customer_DirectionUI-textarea1">
        <span class="input-label">Text</span><textarea placeholder=""></textarea></label>
      <p>
        Detalles
      </p>
    </form>
    <form id="customer_DirectionUI-form4" class="list">
      <label class="item item-input" id="customer_DirectionUI-textarea2">
        <span class="input-label">Text</span><textarea placeholder=""></textarea></label>
    </form>
    <a ui-sref="main()" id="customer_DirectionUI-button6" class="button button-positive button-block">Guardar</a>
  </ion-content>
</ion-view>