<ion-view title="LoginUi" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="loginUi-form1" class="list">
      <ion-list id="loginUi-list1">

        <label class="item item-input" id="loginUi-input1">
          <span class="input-label">***Email</span>
          <input type="text" placeholder="" ng-model="user">
        </label>

        <label class="item item-input" id="loginUi-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="password">
        </label>

      </ion-list>
      <div class="spacer" style="height: 40px;"></div>


      <a ui-sref="signup()" id="loginUi-button2" class="button button-positive button-block button-clear">Or create an account</a>


    </form>
  </ion-content>
</ion-view>
