<ion-view title="Product_Details" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-list id="product_Details-list15">
      <ion-item class="item-avatar" id="product_Details-list-item49">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <h1 id="product_Details-heading5" style="color:#000000;">Pollo</h1>
    <div id="product_Details-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">6 Hermosas Piezas de Pollo</p>

      <p style="color:#000000;">Precio 15$</p>
    </div>
    <a ui-sref="orders_Details()" id="product_Details-button8" class="button button-positive button-block">Añadir Pedido</a>
  </ion-content>
</ion-view>