<ion-view title="Produtc_List" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="produtc_List-list13">
      <ion-item class="item-avatar" id="produtc_List-list-item42">
        <h2>KFC</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="produtc_List-list-item40" ui-sref="product_Details()">
        <h2>Pollo</h2>
        <p style="white-space:normal;">5 piezas de pollo 15$</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="produtc_List-list-item41">
        <h2>Burguer de Pollo</h2>
        <p>Hamburguesa de Pollo 10$</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="produtc_List-list-item44">
        <h2>Pollo de pollo</h2>
        <p>Pollo 12$</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="produtc_List-list-item43">
        <h2>Mas pollo</h2>
        <p>Mas pollo 10$</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>