<ion-view title="Main" id="page10">
  <ion-content padding="true" class="has-header">
    <h2 id="main-heading3" style="color:#000000;">Category_Generales</h2>
    <ion-list id="main-list14">
      <ion-item id="main-list-item26" ui-sref="partners_CategoryUI()">Comida</ion-item>
      <ion-item id="main-list-item27">Bebida</ion-item>
      <ion-item id="main-list-item28">Farmacia</ion-item>
    </ion-list>
  </ion-content>
</ion-view>