<ion-view title="Signup" id="page15">
  <ion-content padding="true" class="has-header">
    <form id="signup-form6" class="list">
      <ion-list id="signup-list17">
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="main()" id="signup-button9" class="button button-stable button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>