<ion-view title="Clientes" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="clientes_List">
        <ion-item ng-repeat="x in listaclientes" ng-click="">{{ x.nombre }}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
