<ion-view title="CustomerUi" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="customerUi-form5" class="list">
      <label class="item item-input" id="customerUi-textarea3">
        <span class="input-label"></span><textarea placeholder=""></textarea></label>
    </form>
    <h1 id="customerUi-heading1" style="color:#000000;">Top Ventas</h1>
    <ion-list id="customerUi-list4">
      <ion-item id="customerUi-list-item11">Item 1</ion-item>
      <ion-item id="customerUi-list-item12">Item 2</ion-item>
      <ion-item id="customerUi-list-item13">Item 3</ion-item>
    </ion-list>
    <div id="customerUi-container1" class="creator-container"></div>
    <a ui-sref="partners_CategoryUI()" id="customerUi-button7" class="button button-positive button-block">Realizar pedido</a>
  </ion-content>
</ion-view>