<ion-view title="Orders_Details" id="page13">
  <ion-content padding="true" class="has-header">
    <h1 id="orders_Details-heading7" style="color:#000000;">Compra Exitosa</h1>
    <div id="orders_Details-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Pedido:
        <strong>6 piezas de pollo</strong>
      </p>

      <p style="color:#000000;">Delivery Time:
        <strong>25m</strong>
      </p>

      <p style="color:#000000;">Contact Info: Juan Magan</p>

      <p style="color:#000000;">Delivery:
        <strong>1.90$</strong>
      </p>

      <p style="color:#000000;">Delivery:
        <strong>1.90$</strong>
      </p>

      <p style="color:#000000;">A pagar:
        <strong>16.90$</strong>
      </p>
    </div>
    <a ui-sref="main()" id="orders_Details-button16" style="border-radius:-1px -1px -1px -1px;" class="button button-light button-large button-block icon ion-android-home"></a>
  </ion-content>
</ion-view>