<ion-view title="Partners_CategoryUI" id="page9">
  <ion-content padding="true" class="has-header">

    <h1 id="partners_CategoryUI-heading2" style="color:#000000;">Categorias</h1>


    <ion-list id="partners_CategoryUI-list10">


      <ion-item ng-repeat="x in categories" ng-click="filtroporcat(x.ID)">{{ x.Nombre }}</ion-item>

    </ion-list

  </ion-content>
</ion-view>
