<ion-view title="Partners_DetailUI" id="page9">

  <ion-content padding="true" class="has-header">

    <h1 id="Partners_DetailUI-heading2" style="color:#000000;">Partners</h1>


    <ion-list id="Partners_DetailUI-list10">

      <ion-item ng-repeat="x in detalle" ng-click="productfilter(x.ID)">{{ x.Nombre }}</ion-item>

    </ion-list>

  </ion-content>

</ion-view>
