<ion-view title="Produtc_List" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="produtc_List-list13">
        <ion-item ng-repeat="x in productos" ng-click="verdetalle(x.ID)">{{ x.Nombre }}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
