<ion-view title="Profile_Details" id="page14">
  <ion-content padding="true" class="has-header">
    <div id="profile_Details-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Name:
        <strong>Juan Magan</strong>
      </p>

      <p style="color:#000000;">Phone:
        <strong>0000.0000.00</strong>
      </p>

      <p style="color:#000000;">Mail:
        <strong>correo@dominio.es</strong>
      </p>

      <p style="color:#000000;">Card:
        <strong>MasterCard</strong>
      </p>
    </div>
  </ion-content>
</ion-view>